footer {
	background-color: var(--secondary);
	color: white;
	margin-top: 4rem;
}

footer .container {
	padding: 1rem;
	display: flex;
	justify-content: center;
}

footer p {
	margin: 0 1rem;
}

footer a {
	color: var(--accent)
}