.promt-preview-box {
	background-color: var(--secondary);
	color: white;
	font-family: monospace;
	padding: 1rem;
	font-size: 1.2rem;
}

.promt-preview-controls {
	margin-top: 0.5rem;
	display: flex;
	align-items: center;
}